In [1]:
from __future__ import (absolute_import, division, print_function, unicode_literals)
from builtins import *
print(3+2)

5

In [2]:
print(3-2)

1

In [3]:
print(3*2)

6

In [4]:
print(3 / 2)

1.5

In [5]:
print(3 ** 2)

9

In [6]:
standard_order = 2 + 3*4
print(standard_order)
my_order = (2 + 3)*4
print(my_order)

14
20

In [7]:
print(.1 + .1)

0.2

In [8]:
print(3 / 2)

1.5

In [10]:
(1 + 2j) * (3+4j)

(-5+10j)

In [11]:
print(1.1/3)
from decimal import Decimal
from decimal import getcontext
getcontext().prec = 3
Decimal('4') / 3 == Decimal('1.33')

0.3666666666666667

True

In [12]:
from decimal import Decimal
from decimal import getcontext
getcontext().prec = 2
print(Decimal('1.10') / 3)

0.37

In [13]:
print(7/71)
print(7/71*71 == 7)

0.09859154929577464
False

In [14]:
from fractions import Fraction
print(Fraction(7, 71) * 71 == 7)

True

In [15]:
my_string = "This is a double-quoted string."
my_string = 'This is a single-quoted string.'

In [16]:
first_name = 'eric'
print(first_name)
print(first_name.title())

eric
Eric

In [17]:
first_name = 'eric'
print(first_name)
print(first_name.title())
print(first_name.upper())
first_name = 'Eric'
print(first_name.lower())

eric
Eric
ERIC
eric

In [18]:
first_name = 'ada'
last_name = 'lovelace'
full_name = first_name + ' ' + last_name
print(full_name.title())

Ada Lovelace

In [20]:
print("Hello \teveryone!")

Hello 	everyone!

In [21]:
print("Hello \neveryone!")

Hello
everyone!

In [22]:
name = ' eric '
print('-' + name.lstrip() + '-')
print('-' + name.rstrip() + '-')
print('-' + name.strip() + '-')

-eric -
- eric-
-eric-

In [23]:
name = ',,eric,,'
print('-' + name.lstrip(',') + '-')
print('-' + name.rstrip(',') + '-')
print('-' + name.strip(',') + '-')

-eric,,-
-,,eric-
-eric-

In [24]:
"we bought a new house and we are happy".find("we")

0

In [27]:
"we bought a new house and we are happy".rfind("we")

26

In [28]:
"we bought a new house and we are happy".index("we")

0

In [29]:
personal_data = {1: ("Ann", 29, "Artist"),
    2: ("Leo", 54, "Programmer"),
    3: ("Tiffany", 43, "Shop Assistant")}
for (name, age, occupation) in personal_data.values():
    print("{0} (age {1}) is a {2}".format(name, age, occupation))

Ann (age 29) is a Artist
Leo (age 54) is a Programmer
Tiffany (age 43) is a Shop Assistant